@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import 'tailwindcss';

@theme {
  --font-fjalla: 'Fjalla One', sans-serif;
  --font-libre: 'Libre Baskerville', serif;
  --color-white: #ffffff;
  --color-neutral: #46606b;
  --color-neutral-dark: #324045;
  --color-neutral-light: #4a6067;
  --color-dark-neutral: #20292c;
  --color-bittersweet: #ff715b;
  --color-gray: #6f787b;
  --color-jet: #2a2b2a;
  --color-powder: #fdfffc;
  --color-pink: #ffe4dc;
  --color-burple: #a2a4ef;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}
